<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php" colors="true" cacheDirectory=".phpunit.cache">
    <testsuites><testsuite name="Kaar Booking"><directory>tests/Unit</directory></testsuite></testsuites>
    <source><include><directory>src/component/administrator/src/Domain</directory></include></source>
</phpunit>
